/* common */
.container {
  /* background-color: red; */
  width: 70%;
  /* height: 60vh; */
  height: 90vh;
  margin: auto;
  text-align: center;
  margin-top: 4rem;
}

/* title */
.title {
  width: 100%;
  background: transparent;
  border: 0;
  padding: 1em 0 0.8em;
  text-align: start;
  font-size: 25px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  color: inherit;
  margin-bottom: 0.6rem;
}

.userInner {
  width: 100%;
  display: flex;
  border-bottom: 1px solid;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
}

.userName {
  font-size: 1.9em;
  margin-left: 0.7rem;
  /* padding-top: 0.2rem; */
  margin-right: 1rem;
  /* border-right: 2px solid rgb(177, 175, 175); */
}
.line {
  color: #ffffff;
  width: 1px;
  height: 1.6rem;
  font-size: 1rem;
  border-right: 2px solid rgb(177, 175, 175);
  /* padding-top: 0.3rem; */
  /* margin-top: 1rem; */
  margin-right: 0.5rem;
}
.date {
  /* border-left: 2px solid rgb(177, 175, 175); */
  padding-left: 1rem;
  font-size: 1.6rem;
  padding-top: 0.3rem;
}
.date:before {
  border-left: 2px solid rgb(177, 175, 175);
  height: 10px;
}
/* img */

.image {
  width: 80%;
  height: 35rem;
  border-radius: 4rem;
}
/* content */
.contents {
  text-align: start;
  width: 80%;
  height: 10%;
  box-sizing: border-box;
  /* border: solid 2px #1e90ff; */
  border: none;
  border-radius: 5px;
  font-size: 18px;
  /* resize: both; */
}

/* btn */
.btn {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 2px solid #000000;
  cursor: pointer;
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 21px;
  text-decoration: none;
}
.cancelBtn:active {
  position: relative;
  top: 1px;
}

.price {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;;
  line-height: 36px;
  color: #0C884F;
  margin-left: 50rem;
}
