@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&display=swap");

/* common */
.container {
  margin: 0px;
  padding: 0px;
  margin-top: 5rem;
}

.Inner {
  /* background-color: aqua; */
  width: 98%;
  /* height: 60vh; */
  height: 90vh;
  margin: auto;
  text-align: center;
}
/* title */
.title {
  font-family: "Jua", sans-serif;
  width: 50%;
  /* background: transparent; */
  border: 0;
  padding: 1em 0 0.8em;
  /* text-align: left; */
  font-size: 25px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  color: inherit;
  outline: none;
}

/* img */
.Img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 4rem;
}
/* content */
.content {
  width: 50%;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  /* border: solid 2px #1e90ff; */
  border: none;
  border-radius: 5px;
  font-size: 18px;
  resize: both;
}

.btnInner {
  width: 90%;
  text-align: end;
}
/* checkBtn */
.checkBtn {
  width: 200px;
  height: 50px;
  font-family: "Jua", sans-serif;
  font-size: 25px;
  border: none;
  border-radius: 1rem;
  color: #ffffff;
  background-color: #0c884f;
}
.checkBtn:active {
  position: relative;
  top: 1px;
}
.resultInner {
  padding-top: 3rem;
  width: 98%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.result {
  font-size: 2.5rem;
  position: relative;
  font-family: "Jua", sans-serif;
  text-align: center;
}

.plantName {
  display: flex;
  font-family: "Jua", sans-serif;
  word-spacing: 5px;
  margin-bottom: 1rem;
}

.predictionRate {
  display: flex;
  font-family: "Jua", sans-serif;
}

/* .result:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #bfffa1;
  z-index: -1;
} */
.fontColor {
  color: #428365;
  margin: 0px;
  padding-left: 10px;
}
