.container {
  margin: 0px;
  padding: 0px;
  margin-top: 5rem;
}

.inputBox {
  margin: auto;
  text-align: left;
}

.inputBoxInner {
  display: block;
  width: 100%;
}

.CommentBox {
  width: 100%;
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  color: #919191;
  margin: 3rem 0;
  display: block;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 2rem;
}

.userInner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userName {
  margin-left: 2rem;
}
.btn {
  background-color: white;
  border: none;
  width: 15rem;
  cursor: pointer;
}

.nastedCommentBox {
  margin-left: 5rem;
  height: 10rem;
  padding-top: 3rem;
}

.nestedCommentInputBox {
  margin-left: 5rem;
  padding-top: 2rem;
  width: 100%;
  color:black;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .nestedCommentInputBox:last-child {
  align-items: flex-end;
} */

.toggleBtn {
  background: #eaebfc;
  border-radius: 20px;
  border: none;
  height: 3rem;
  cursor: pointer;
  color: #6f77fd;
}

.nestedCmtBox{
  display: flex;
  flex-direction: row;
}

.nestedCommentInput{
  margin-left: 2rem;
  border:none;
    border-bottom: 1px solid black;
  width: 100%
}

.nestedCmtBtnBox{
  align-items: flex-end;
}